body{
	background:#fefcea;
	background: linear-gradient (to top,#fefcea, #f1da36);
	padding: 10px;
	borde :1px solid #333;
}
h3{
	color: #a52a2a;
	font-size: 24pt;
	font family: Georgis. times,serif
	font-weight:normal;
}